<app-header />


<main class="relative z-30">
  <section class="relative gap-[19px] grid md:grid-cols-2 mx-auto px-6 max-w-[1110px]">

    <figure class="relative md:col-start-2 md:row-start-1">
      <img
        class="bottom-[80px] md:bottom-[180px] lg:bottom-[260px] left-[65px] md:left-[145px] lg:left-[190px] z-0 absolute pointer-events-none scale-110 md:scale-150"
        src="../assets/images/bg-tablet-pattern.svg" alt="a background image a circular">

      <img src="../assets/images/illustration-intro.svg" alt="img" class="relative z-30 w-full">
    </figure>

    <article class="md:flex md:flex-col md:items-center">
      <h1 class="">Bring everyone together to build better products.</h1>

      <p class="hero-description">Manage makes it simple for software teams to plan day-to-day tasks while keeping the
        larger team goals in view.</p>

      <a class="shadow mx-auto md:ml-0 button" href="#">Get Started</a>
    </article>
  </section>

  <section class="relative z-20 gap-[54px] grid md:grid-cols-2 mx-auto mt-[93px] max-w-[1110px]">
    <img
      class="bottom-full md:bottom-[-70%] lg:bottom-[-120%] left-[60%] md:left-[-70%] lg:left-[-50%] z-0 absolute pointer-events-none"
      src="../assets/images/bg-tablet-pattern.svg" alt="a background image a circular">


    <article class="px-6">
      <h2>What’s different about Manage?</h2>

      <p class="mt-[13px] description">Manage provides all the functionality your
        team needs, without the complexity. Our software is tailor-made for modern digital product teams. </p>
    </article>

    <article class="differences">
      <app-difference Index="01" Title="Track company-wide progress" Description="See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all
      the way done to the smallest of details. Never lose sight of the bigger picture again." />

      <app-difference Index="02" Title="Advanced built-in reports"
        Description="Set internal delivery estimates and track progress toward company goals. Our customizable dashboard helps you build out the reports you need to keep key stakeholders informed." />

      <app-difference Index="03" Title="Everything you need in one place"
        Description="Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution." />
    </article>
  </section>

  <section>
    <h2 class="my-[62px] md:mt-[100px] md:text-center">What they’ve said</h2>

    <app-testimonials-slider />

    <button class="block shadow mx-auto my-[57px] button">Get Started</button>
  </section>

  <section class="relative bg-accent overflow-hidden">
    <img class="right-[67%] z-0 absolute opacity-10 pointer-events-none" src="../assets/images/bg-tablet-pattern.svg"
      alt="a background image a circular">

    <article
      class="flex md:flex-row flex-col justify-between items-center gap-[29px] mx-auto px-8 py-[92px] md:py-[50px] max-w-[1110px] text-white">

      <p class="lg:pr-60 h1">Simplify how your team works today.</p>
      <button class="md:w-[250px] button secondary">Get Started</button>
    </article>
  </section>
</main>

<app-footer />