<app-header />

<!-- <img class="top-[-50px] left-20 z-0 absolute pointer-events-none" src="../assets/images/bg-tablet-pattern.svg"
  alt="a background image a circular"> -->

<main class="relative z-30 pb-20">
  <!--   <section class="gap-[19px] grid px-6">
    <figure>
      <img src="../assets/images/illustration-intro.svg" alt="img" class="w-full">
    </figure>

    <article class="relative z-30">
      <h1>Bring everyone together to build better products.</h1>

      <p class="hero-description">Manage makes it simple for software teams to plan day-to-day tasks while keeping the
        larger team goals in view.</p>

      <a class="shadow mx-auto button" href="#">Get Started</a>
    </article>

    <img class="right-[-215px] bottom-[-100px] z-0 absolute pointer-events-none"
      src="../assets/images/bg-tablet-pattern.svg" alt="a background image a circular">
  </section>

  <section class="gap-[54px] grid mt-[93px]">
    <article class="px-6">
      <h2>What’s different about Manage?</h2>

      <p class="mt-[13px] description">Manage provides all the functionality your
        team needs, without the complexity. Our software is tailor-made for modern digital product teams. </p>
    </article>

    <article class="differences">
      <app-difference Index="01" Title="Track company-wide progress" Description="See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all
      the way done to the smallest of details. Never lose sight of the bigger picture again." />

      <app-difference Index="02" Title="Advanced built-in reports"
        Description="Set internal delivery estimates and track progress toward company goals. Our customizable dashboard helps you build out the reports you need to keep key stakeholders informed." />

      <app-difference Index="03" Title="Everything you need in one place"
        Description="Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution." />
    </article>
  </section> -->

  <section >
    <h2 class="my-[62px]">What they’ve said</h2>

    <app-testimonials-slider />
  </section>

</main>