<header class="relative z-50 flex justify-between items-center gap-10 mx-auto px-6 py-11 max-w-[1110px]">

  <figure>
    <img src="../../assets/images/logo.svg" alt="logo from manage">
  </figure>

  <nav id="primary-nav" class="md:block hidden">
    <ul class="flex items-center gap-8">
      <li class="hover:text-text/50"><a href="#pricing">Pricing</a></li>
      <li class="hover:text-text/50"><a href="#product">Product</a></li>
      <li class="hover:text-text/50"><a href="#about-us">About Us</a></li>
      <li class="hover:text-text/50"><a href="#careers">Careers</a></li>
      <li class="hover:text-text/50"><a href="#community">Community</a></li>
    </ul>
  </nav>

  <button id="toggle-nav" #btnToggleMobileNav (click)="toggleMobileNav()"></button>

  <button class="lg:block hidden shadow button">Get Started</button>

</header>

<nav id="mobile-nav" class="" #mobileNav>
  <ul>
    <li (click)="closeMobileNav()"><a href="#pricing">Pricing</a></li>
    <li (click)="closeMobileNav()"><a href="#product">Product</a></li>
    <li (click)="closeMobileNav()"><a href="#about-us">About Us</a></li>
    <li (click)="closeMobileNav()"><a href="#careers">Careers</a></li>
    <li (click)="closeMobileNav()"><a href="#community">Community</a></li>
  </ul>
</nav>

<div class="navBg" (click)="closeMobileNav()"></div>