<div class="splide" role="group" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
    <div class="splide__list">
      <div class="splide__slide">
        <app-testimonial />
      </div>

      <div class="splide__slide">
        <app-testimonial Img="anisha" Name="Anisha Li"
          Testimonial="“Manage has supercharged our team’s workflow. The ability to maintain visibility on larger milestones at all times keeps everyone motivated.”" />
      </div>

      <div class="splide__slide">
        <app-testimonial Img="richard" Name="Richard Watts"
          Testimonial="“Manage allows us to provide structure and process. It keeps us organized and focused. I can’t stop recommending them to everyone I talk to!”" />
      </div>

      <div class="splide__slide">
        <app-testimonial Img="shanai" Name="Shanai Gough"
          Testimonial="“Their software allows us to track, manage and collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.”" />
      </div>
    </div>
  </div>
</div>